﻿@model citas_medicas.Models.Cita

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="fechaHora" class="control-label"></label>
                <input asp-for="fechaHora" class="form-control" />
                <span asp-validation-for="fechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motivoCita" class="control-label"></label>
                <input asp-for="motivoCita" class="form-control" />
                <span asp-validation-for="motivoCita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="attribute11" class="control-label"></label>
                <input asp-for="attribute11" class="form-control" />
                <span asp-validation-for="attribute11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoId" class="control-label"></label>
                <select asp-for="DiagnosticoId" class="form-control" asp-items="ViewBag.DiagnosticoId"></select>
                <span asp-validation-for="DiagnosticoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class="form-control" asp-items="ViewBag.MedicoId"></select>
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
